<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Confirmação de exclusão</h4>
  </div>
  <div class="modal-body">
    <p>Deseja exluir item?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('s')">Sim</button>
    <button type="button" class="btn btn-secondary" (click)="c('n')">Não</button>
  </div>
</ng-template>

<div class="row">
  <div class="col-md-12" style="padding-top: 10px">
    <div class="card">
      <div class="card-block">
        <div class="form-group">
          <label for="usr">Pesquisa</label>
          <input [(ngModel)]="descricao" type="text" class="form-control" id="textoPesquisa">
        </div>
        <button (click)="pesquisaPratoClick()" type="button" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Pesquisar</button>
        <button routerLink="/prato/cadastrar" type="button" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> Cadastrar Novo Prato</button>
      </div>
    </div>
  </div>
</div>

<div class="row" style="padding-top: 40px">
  <div class="col-md-12">
    <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th class="w-5"></th>
            <th class="w-5"></th>
            <th class="w-5">#</th>
            <th class="w-30">Restaurante</th>
            <th class="w-30">Descrição</th>
            <th class="w-25">Preço</th>
          </tr>
        </thead>  
        <tbody>
          <tr *ngFor="let p of pratos">
            <td class="w-5 text-center"><button (click)="open(content, p.idPrato)" type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash" aria-hidden="true"></i> Excluir</button></td>
            <td class="w-5 text-center"><button routerLink="/prato/editar/{{p.idPrato}}" type="button" class="btn btn-primary btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i> Editar</button></td>
            <td class="w-5">{{p.idPrato}}</td>
            <td class="w-30">{{p.restaurante.descricao}}</td>
            <td class="w-30">{{p.descricao}}</td>
            <td class="w-25">{{p.preco}}</td>
          </tr>
        </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-4 offset-md-3">
    <ngb-pagination [collectionSize]="collectionSize" [pageSize]="itensPorPagina" [(page)]="page" [boundaryLinks]="true" (pageChange)="onPageChange($event)"></ngb-pagination>
  </div>
  <div class="w-10">
    <div class="form-group">
        <select type="number" [(ngModel)]="itensPorPagina" (ngModelChange)="itensPorPaginaChanged()" class="form-control">
            <option>5</option>
            <option>10</option>
            <option>15</option>
            <option>20</option>
        </select>
    </div>
  </div>
</div>