<div class="row">
  <div class="col-md-12" style="padding-top: 10px">
    <div class="card">
      <div class="card-block">
          <div class="form-group">
              <label for="nomeRestaurante">Nome do restaurante</label>
              <input [(ngModel)]="restaurante.descricao" type="text" class="form-control" id="nomeRestaurante">
          </div>
          <button type="button" class="btn btn-danger" routerLink="/restaurante"><i class="fa fa-ban" aria-hidden="true"></i> Cancelar</button>
          <button (click)="salvarRestauranteClick()" type="button" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar</button>
      </div>
    </div>
  </div>
</div>