<div class="row">
  <div class="col-md-12" style="padding-top: 10px">
    <div class="card">
      <div class="card-block">
        <div class="form-group">
            <label for="sel1">Restaurante</label>
            <select [(ngModel)] = "prato.idRestaurante" class="form-control" id="sel1">
                <option *ngFor="let r of restaurantes" [value]="r.idRestaurante">{{r.descricao}}</option>
            </select>
        </div>
        <div class="form-group">
          <label for="nomePrato">Nome Prato</label>
          <input [(ngModel)]="prato.descricao" type="text" class="form-control" id="nomePrato">
        </div>
        <div class="form-group">
          <label for="preco">Preço (R$)</label>
          <input type="number" [(ngModel)]="prato.preco" type="text" class="form-control" id="preco">
        </div>
        <button routerLink="/prato" type="button" class="btn btn-danger"><i class="fa fa-ban" aria-hidden="true"></i> Cancelar</button>
        <button (click)="salvarPratoClick()" type="button" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar</button>
      </div>
    </div>
  </div>
</div>